@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primitives */
  --beige-50: #b6875a0d;
  --beige-100: #b6875a1a;
  --beige-200: #b6875a33;
  --beige-300: #b6875a4d;
  --beige-400: #b6875a66;
  --beige-500: #b6875a80;
  --beige-600: #b6875a99;
  --beige-700: #b6875ab3;
  --beige-800: #b6875acc;
  --beige-900: #b6875ae6;
  --beige-1000: #b6875a;
  --beige-1100: #9e7246;

  --black-50: #b6875a0d;
  --black-100: #1a20161a;
  --black-200: #1a201633;
  --black-300: #1a20164d;
  --black-400: #1a201666;
  --black-500: #1a201680;
  --black-600: #1a201699;
  --black-700: #1a2016b3;
  --black-800: #1a2016cc;
  --black-900: #1a2016e6;
  --black-1000: #1a2016;

  --brown-50: #6045240d;
  --brown-100: #6045241a;
  --brown-200: #60452433;
  --brown-300: #6045244d;
  --brown-400: #60452466;
  --brown-500: #60452480;
  --brown-600: #60452499;
  --brown-700: #604524b3;
  --brown-800: #604524cc;
  --brown-900: #604524e6;
  --brown-1000: #604524;

  --cold-green-50: #5c6b440d;
  --cold-green-100: #5c6b441a;
  --cold-green-200: #5c6b4433;
  --cold-green-300: #5c6b444d;
  --cold-green-400: #5c6b4466;
  --cold-green-500: #5c6b4480;
  --cold-green-600: #5c6b4499;
  --cold-green-700: #5c6b44b3;
  --cold-green-800: #5c6b44cc;
  --cold-green-900: #5c6b44e6;
  --cold-green-1000: #5c6b44;

  --green-50: #0950280d;
  --green-100: #0950281a;
  --green-200: #09502833;
  --green-300: #0950284d;
  --green-400: #09502866;
  --green-500: #09502880;
  --green-600: #09502899;
  --green-700: #095028b3;
  --green-800: #095028cc;
  --green-900: #095028e6;
  --green-1000: #095028;

  --flesh-50: #cab58f0d;
  --flesh-100: #cab58f1a;
  --flesh-200: #cab58f33;
  --flesh-300: #cab58f4d;
  --flesh-400: #cab58f66;
  --flesh-500: #cab58f80;
  --flesh-600: #cab58f99;
  --flesh-700: #cab58fb3;
  --flesh-800: #cab58fcc;
  --flesh-900: #cab58fe6;
  --flesh-1000: #cab58f;

  --grey-50: #ffffff;
  --grey-100: #fefefe;
  --grey-150: #fefefe;
  --grey-200: #fdfdfd;
  --grey-300: #fbfbfb;
  --grey-400: #f7f7f7;
  --grey-500: #f2f2f2;
  --grey-600: #e9e9e9;
  --grey-700: #d7d7d7;
  --grey-800: #adadad;
  --grey-900: #6b6b6b;
  --grey-1000: #333333;

  --light-green-50: #d0cf8c0d;
  --light-green-100: #d0cf8c1a;
  --light-green-200: #d0cf8c33;
  --light-green-300: #d0cf8c4d;
  --light-green-400: #d0cf8c66;
  --light-green-500: #d0cf8c80;
  --light-green-600: #d0cf8c99;
  --light-green-700: #d0cf8cb3;
  --light-green-800: #d0cf8ccc;
  --light-green-900: #d0cf8ce6;
  --light-green-1000: #d0cf8c;

  --mustard-50: #c6a6370d;
  --mustard-100: #c6a6371a;
  --mustard-200: #c6a63733;
  --mustard-300: #c6a6374d;
  --mustard-400: #c6a63766;
  --mustard-500: #c6a63780;
  --mustard-600: #c6a63799;
  --mustard-700: #c6a637b3;
  --mustard-800: #c6a637cc;
  --mustard-900: #c6a637e6;
  --mustard-1000: #c6a637;

  --red-50: #a613130d;
  --red-100: #a613131a;
  --red-200: #a6131333;
  --red-300: #a613134d;
  --red-400: #a6131366;
  --red-500: #a6131380;
  --red-600: #a6131399;
  --red-700: #a61313b3;
  --red-800: #a61313cc;
  --red-900: #a61313e6;
  --red-1000: #a61313;

  --vinous-50: #522f290d;
  --vinous-100: #522f291a;
  --vinous-200: #522f2933;
  --vinous-300: #522f294d;
  --vinous-400: #522f2966;
  --vinous-500: #522f2980;
  --vinous-600: #522f2999;
  --vinous-700: #522f29b3;
  --vinous-800: #522f29cc;
  --vinous-900: #522f29e6;
  --vinous-1000: #522f29;

  --white-50: #fefadf0d;
  --white-100: #fefadf1a;
  --white-200: #fefadf33;
  --white-300: #fefadf4d;
  --white-400: #fefadf66;
  --white-500: #fefadf80;
  --white-600: #fefadf99;
  --white-700: #fefadfb3;
  --white-800: #fefadfcc;
  --white-900: #fefadfe6;
  --white-1000: #fefadf;
  --white-1100: #f4e9cb;

  --yellow-50: #e0b6240d;
  --yellow-100: #e0b6241a;
  --yellow-200: #e0b62433;
  --yellow-300: #e0b6244d;
  --yellow-400: #e0b62466;
  --yellow-500: #e0b62480;
  --yellow-600: #e0b62499;
  --yellow-700: #e0b624b3;
  --yellow-800: #e0b624cc;
  --yellow-900: #e0b624e6;
  --yellow-1000: #e0b624;

  /* Semantic */
  --background-beige-primary: var(--beige-1000);
  --background-beige-secondary: var(--beige-50);
  --background-beige-tertiary: var(--beige-200);
  --background-beige-quaternary: var(--beige-50);
  --background-color-1-primary: var(--mustard-1000);
  --background-color-1-secondary: var(--mustard-300);
  --background-color-1-tertiary: var(--mustard-100);
  --background-color-2-primary: var(--cold-green-1000);
  --background-color-2-secondary: var(--cold-green-300);
  --background-color-2-tertiary: var(--cold-green-100);
  --background-color-3-primary: var(--vinous-1000);
  --background-color-3-secondary: var(--vinous-300);
  --background-color-3-tertiary: var(--vinous-100);
  --background-color-4-primary: var(--light-green-1000);
  --background-color-4-secondary: var(--light-green-300);
  --background-color-4-tertiary: var(--light-green-100);
  --background-color-5-primary: var(--flesh-1000);
  --background-color-5-secondary: var(--flesh-300);
  --background-color-5-tertiary: var(--flesh-100);
  --background-color-6-primary: var(--black-1000);
  --background-color-6-secondary: var(--black-200);
  --background-color-6-tertiary: var(--black-100);
  --background-color-7-primary: var(--brown-1000);
  --background-color-7-secondary: var(--brown-300);
  --background-color-7-tertiary: var(--brown-100);
  --background-color-7-default: var(--brown-1000);
  --background-danger-primary: var(--red-1000);
  --background-danger-secondary: var(--red-300);
  --background-danger-tertiary: var(--red-100);
  --background-success-primary: var(--green-1000);
  --background-success-secondary: var(--green-300);
  --background-success-tertiary: var(--green-100);
  --background-grey-primary: var(--grey-400);
  --background-grey-secondary: var(--grey-600);
  --background-grey-tertiary: var(--grey-200);
  --background-warning-primary: var(--yellow-1000);
  --background-warning-secondary: var(--yellow-300);
  --background-warning-tertiary: var(--yellow-100);
  --background-overlay: var(--black-800);
  --background-white-primary: var(--white-1000);
  --background-white-secondary: var(--white-300);
  --background-white-tertiary: var(--white-100);
  --background-white-quaternary: var(--white-700);

  --stroke-beige-primary: var(--beige-1000);
  --stroke-beige-secondary: var(--beige-50);
  --stroke-beige-tertiary: var(--beige-300);
  --stroke-color-1-primary: var(--mustard-1000);
  --stroke-color-1-secondary: var(--mustard-500);
  --stroke-color-1-tertiary: var(--mustard-200);
  --stroke-color-2-primary: var(--cold-green-1000);
  --stroke-color-2-secondary: var(--cold-green-300);
  --stroke-color-2-tertiary: var(--cold-green-100);
  --stroke-color-3-primary: var(--vinous-1000);
  --stroke-color-3-secondary: var(--vinous-300);
  --stroke-color-3-tertiary: var(--vinous-100);
  --stroke-color-4-primary: var(--light-green-1000);
  --stroke-color-4-secondary: var(--light-green-300);
  --stroke-color-4-tertiary: var(--light-green-100);
  --stroke-color-5-primary: var(--flesh-1000);
  --stroke-color-5-secondary: var(--flesh-300);
  --stroke-color-5-tertiary: var(--flesh-100);
  --stroke-color-6-primary: var(--black-1000);
  --stroke-color-6-secondary: var(--black-200);
  --stroke-color-6-tertiary: var(--black-50);
  --stroke-color-7-primary: var(--brown-1000);
  --stroke-color-7-secondary: var(--brown-300);
  --stroke-color-7-tertiary: var(--brown-100);
  --stroke-color-7-default: var(--brown-1000);
  --stroke-danger-primary: var(--red-1000);
  --stroke-danger-secondary: var(--red-400);
  --stroke-danger-tertiary: var(--red-200);
  --stroke-success-primary: var(--green-1000);
  --stroke-success-secondary: var(--green-300);
  --stroke-success-tertiary: var(--green-100);
  --stroke-grey-primary: var(--grey-400);
  --stroke-grey-secondary: var(--grey-600);
  --stroke-grey-tertiary: var(--grey-200);
  --stroke-warning-primary: var(--yellow-1000);
  --stroke-warning-secondary: var(--yellow-300);
  --stroke-warning-tertiary: var(--yellow-100);
  --stroke-white-primary: var(--white-1000);
  --stroke-white-secondary: var(--white-300);
  --stroke-white-tertiary: var(--white-100);
  --stroke-white-quaternary: var(--white-100);

  --plots-text-background-0: var(--white-1000);
  --plots-text-progress-0: var(--beige-1000);
  --plots-text-beige-primary: var(--beige-1000);
  --plots-text-beige-secondary: var(--beige-500);
  --plots-text-background-1: var(--mustard-300);
  --plots-text-progress-1: var(--mustard-1000);
  --plots-text-black-primary: var(--black-1000);
  --plots-text-black-secondary: var(--black-500);
  --plots-text-background-2: var(--cold-green-300);
  --plots-text-progress-2: var(--cold-green-1000);
  --plots-text-brown-primary: var(--brown-1000);
  --plots-text-brown-secondary: var(--brown-500);
  --plots-text-background-3: var(--vinous-300);
  --plots-text-progress-3: var(--vinous-1000);
  --plots-text-cold-green-primary: var(--cold-green-1000);
  --plots-text-cold-green-secondary: var(--cold-green-500);
  --plots-text-background-4: var(--light-green-300);
  --plots-text-progress-4: var(--light-green-1000);
  --plots-text-flesh-primary: var(--flesh-1000);
  --plots-text-flesh-secondary: var(--flesh-500);
  --plots-text-background-5: var(--flesh-300);
  --plots-text-progress-5: var(--flesh-1000);
  --plots-text-green-primary: var(--green-1000);
  --plots-text-green-secondary: var(--green-500);
  --plots-text-background-6: var(--black-300);
  --plots-text-progress-6: var(--black-1000);
  --plots-text-light-green-primary: var(--light-green-1000);
  --plots-text-light-green-secondary: var(--light-green-500);
  --plots-text-mustard-primary: var(--mustard-1000);
  --plots-text-mustard-secondary: var(--mustard-500);
  --plots-text-red-primary: var(--red-1000);
  --plots-text-red-secondary: var(--red-500);
  --plots-text-vinos-primary: var(--vinous-500);
  --plots-text-vinos-secondary: var(--vinous-1000);
  --plots-text-white-primary: var(--white-1000);
  --plots-text-white-secondary: var(--white-1000);
  --plots-text-yellow-primary: var(--yellow-1000);
  --plots-text-yellow-secondary: var(--yellow-500);
}
