@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white-primary: #fefadf;
  --color-white-secondary: #fefadf4d;
  --color-white-tertiary: #fefadfb3;
  --color-brown-primary: #604524;
  --color-beige-tertiary: #b6875a1a;
}
